* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* border: 1px solid tomato; */
}

.card-height {
    height: 300px !important;
    width: 290px !important;
}

.h {
    color: tomato !important;
}

.shopcategory-products{
   margin: 0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 20px;
}